/* HERO */
.workspace-hero{
    width: 100%;
    height: 55vh;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url(images/info-bannaer.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace-hero h1{
    color: white;
    font-size: 65px;
    letter-spacing: 4px;
    transition: all 3s ease;
}

/* TITLE */
.workspace-title{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workspace-title h1{
    font-size: 48px;
    color: sienna;
    transition: all 3s ease;
}

/* CONTENT BOX */
.workspace-box{
    max-width: 1200px;
    margin: 0 auto 60px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    min-height: 600px;
}

/* TEXT */
.workspace-text{
    background: rgb(73, 43, 5);
    padding: 70px;
    transition: all 3s ease;
}

.workspace-text h3{
    color: white;
    font-size: 22px;
    margin-bottom: 30px;
}

.workspace-text p{
    color: #f1f1f1;
    font-size: 16px;
    line-height: 1.8;
}

/* IMAGE */
.workspace-image{
    background: url(images/info-pic.png) center/cover no-repeat;
    transition: all 1s ease;
}

/* HOVER EFFECT */
.workspace-box:hover .workspace-image{
    filter: brightness(0.8);
}

.workspace-box:hover .workspace-text{
    background: rgb(60, 35, 3);
}

/* RESPONSIVE */
@media (max-width: 992px){
    .workspace-box{
        grid-template-columns: 1fr;
    }

    .workspace-image{
        height: 300px;
    }

    .workspace-text{
        padding: 40px;
        text-align: center;
    }
}

@media (max-width: 576px){
    .workspace-hero h1{
        font-size: 42px;
    }

    .workspace-title h1{
        font-size: 34px;
    }

    .workspace-text p{
        font-size: 15px;
    }
}
