*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/wallpaper5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;

}

.form{
    width: 30%;
    height:290px;
    margin-left:200px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    margin-bottom: 50px;
   
    
   
}
input[type="text"],input[type="password"]{
    width: 350px;
    height: 50px;
    background-color:rgba(139, 69, 19, 0.736) ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   
    
}
input:hover{
    background-color:white;
}
input::placeholder{
    color:rgb(101, 65, 65) ;
    font-size:smaller;
    padding-left: 10px;

}
input[type="text"]:focus{
    color:rgb(205, 160, 102);
    outline: none;
    border-radius:10px;
    background-color:white;
    
}
input[type="email"]:focus{
    color:rgb(205, 160, 102) ;
    outline: none;
    border-radius: 10px;
    background-color: white;   
}
input[type="password"]:focus{
    color:rgb(205, 160, 102) ;
    outline: none;
    border-radius: 10px;
    background-color: white;   
}
input[type="submit"]{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color:rgba(139, 69, 19, 0.736);
    color:rgb(101, 65, 65);
    transition: all 2s;
    border: none;
   outline: none;
   margin-left: 130px;
   margin-top: 20px;
}
input[type="submit"]:hover{
    width: 90px;
    height: 35px;
    background-color: white;
    color:rgb(205, 160, 102) ;
    outline: none;
    border-radius: 10px;
   

}
.top h1{
    color: rgb(101, 65, 65);
   /* border: 2px solid white; */
   width: 200px;
   height: 40px;
   width: 300px;
   margin-left: 280px;
   text-align:center;
   margin-top: 200px;
   padding-top: 20px;
  
}
header{
    height: 70px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.links{
    width: 60%;
    height:10px;
    padding-right:50px;
    padding-bottom: 30px;
}
.links ul li{
    display: inline;
    margin-left:20px;
}
.links ul{
    float:right;
    padding-top: 5px;
}
.links ul li a{
    text-decoration: none;
    color:rgb(249, 249, 247);
    font-size: 18px;
    font-weight: bold;
}
.links ul li a:hover{
    color:sienna;
}
button{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width:75px;
    height: 30px;
    border-radius: 60px;
}

.btn1{
    font-family: 'Times New Roman', Times, serif;
    background-color:transparent;
    color:sienna;
    width: 75px;
    height: 30px;
    font-weight: bolder;
    border:sienna;
    border-style: solid;
    transition: all;
    transition-duration: 2s;
}
.btn2{
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color:sienna; 
    width: 80px;
    height: 30px;
     font-weight: bolder;  
     border:sienna; 
     border-style: solid; 
     transition: all;
     transition-duration:2s;
}
.btn1:hover{
    background-color:sienna;
    color:white;
    font-weight: bolder;
    border:none;
}
.btn2:hover{
    background-color:sienna;
    color:white;
    font-weight: bolder;
    border: none;
}
.main{
    max-width: 1170px;
    margin: auto;
    height: 200px;
    
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    ul{
        list-style-type: none;
    }
.footer{
    /* background-color: blue; */
    /* padding: 70px 0; */
    padding-left: 50px;
    padding-bottom: 20px;
}
.footer-col1{
    width: 25%;
    padding: 0 15px;
}
.footer-col1 h5{
    font-size: 30px;
    color:#0e0e0e;
    text-transform: capitalize;
    margin-bottom:20px;
    font-weight: 500;
    position: relative;
    padding-top: 20px;
    
}
.footer-col2 h5{
    font-size: 30px;
    color:#0e0d0d;
    text-transform: capitalize;
    margin-bottom:20px;
    font-weight: 500;
    position: relative;
    padding-top: 20px;
    
}
.footer-col3 h5{
    font-size: 30px;
    color:#060606;
    text-transform: capitalize;
    margin-bottom:20px;
    font-weight: 500;
    position: relative;
    padding-top: 20px; 
}

footer{
    background-color:rgb(216, 211, 211)
}
.footer-col1 p{
    color:#0b0b0b;
}
.footer-col2 ul li a{
    text-decoration: none;
    color: #030303;
}  
.footer-col3 ul li a{
    text-decoration: none;
    color:#030303;
}  
.footer-col2 ul li :hover{
    color: chocolate ;
}
.footer-col3 ul li :hover{
    color: chocolate;
}


