.container{
    border: 2px solid rgb(242, 91, 91);
}
.row{
    border: 2px solid rgb(200, 171, 67);
}
.col, .col-2, .col-5, .col-4, .col-3, .col-6, .col-12, .col-lg-6, .col-md-6{
    border: 2px solid green;
}
.main{
    width: 90%;
    margin: auto;
    /* border: 2px solid rgb(175, 184, 61); */
    height: 100vh;
}
.sub{
    width: 100%;
    /* border: 2px solid rgb(107, 189, 182); */
    height: 33%;
    display:flex;
}
.subchild1{
    width: 50%;
    height: 100%;
    background-color: rgb(184, 190, 190);
    padding: 20px;
    box-sizing: border-box;
}
.subchild2{
    width: 50%;
    height: 100%;
    background-color: rgb(128, 220, 115);
    padding: 20px;
    box-sizing: border-box;
}
.subchild3{
    width: 50%;
    height: 100%;
    background-color: rgb(238, 138, 178);
    padding: 20px;
    box-sizing: border-box;
}
.subchild4{
    width: 50%;
    height: 100%;
    background-color: rgb(228, 170, 119);
    padding: 20px;
    box-sizing: border-box;
}
.subchild5{
    width: 50%;
    height: 100%;
    background-color: rgb(163, 167, 134);
    padding: 20px;
    box-sizing: border-box;
}
.subchild6{
    width: 50%;
    height: 100%;
    background-color: rgb(122, 169, 140);
    padding: 20px;
    box-sizing: border-box;
}

